<!DOCTYPE html>
<html>
<head>
  <title>Goalz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_url %>">Goalie</a>
      </div>

      <div class="collapse navbar-collapse" id="collapsable">
        <ul class="nav navbar-nav">
          <li><a href="<%= user_goals_url(current_user) %>">Goals</a></li>
          <li><a href="<%= users_url %>">Friends</a></li>
          <li><%= link_to "Sign Out", session_url, method: :delete %></li>

        </ul>
      </div>
    </div>
  </nav>
<% end %>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <div class="row">
        <div class="alert alert-danger col-xs-9 col-xs-offset-1" role="alert">
          <%= error %>
        </div>
      </div>
    <% end %>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
